.himg{
    height: 450px;
}

.mb-10{
    margin-bottom: 207px;
}

.texto-con-sombra {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .parabandera{
    
        position: relative;
      
      
  }
  