.titleSerCli{

    padding-top: 30px;
    padding-bottom: 15px;
}

.parrafo1SerCli{
    margin: 10px 15px 10px 15px;
    text-align: justify;
}

.liSerCli{
    margin-left: 20px;
    list-style-type: none;
    padding-top: 15px;
    text-align: justify;
}

.cierreServCli{
    text-align: justify;
    
}