.titleSobreNosotros{
    text-align: center;
    margin: 72px 0px 15px 0px;
}


.imgmano{
    height: 100px;
    width: 50%;
}

.segundaParteBodiSN{
    padding-bottom: 100px;
}

.styles-about{
    background-color: $colorAbout;
}